.articlePageLink,
.singleArticle-container {
    display: flex;
}

.bannerContainer {
    width: 100%;
    height: 50rem;
    overflow: hidden;
    margin-bottom: 2rem;
}

.bannerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contentContainer {
    padding: 0 10rem 10rem;
}

.articlePageLink {
    height: 100vh;
    display: flex;
    font-size: 4rem;
    color: black;
    justify-content: center;
    align-items: center;
}

.singleArticle-container {
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;

}

.SingleauthorName {
    font-size: 2rem;
    font-weight: bold;
}

.titleSingelArticle {
    text-align: center;
    padding: 2rem;
    font-size: 3rem;
}

.content {
    font-size: 2rem;
    line-height: 40px;

}

.articleLink {
    font-size: 2rem;
}

@media screen and (max-width:780px) {
    .singleArticle-container {
        width: 100%;
        overflow: hidden;
    }
    .bannerContainer {
        height: 30rem;
    }
    .content{
        line-height: 20px;
    }
    .contentContainer{
        padding: 0 5rem 0 5rem;
    }

}